---
import { getCollection } from 'astro:content'

import PostCard from '@/components/PostCard.astro'
import Link from '@/components/shared/Link.astro'
import TGIcon from '@/components/shared/TGIcon.astro'
import Layout from '@/layouts/Layout.astro'

const posts = (await getCollection('posts')).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime()
})
---

<Layout>
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-5">
      <h1
        class="bg-gradient-to-r from-pink-400 to-indigo-600 bg-clip-text text-2xl font-bold text-transparent sm:text-4xl md:text-5xl"
      >
        Анонимные Прокрастинаторы
      </h1>
      <p class="md:text-lg">
        <b>Анонимные Прокрастинаторы</b> - это сообщество, объединяющее мужчин и женщин, которые
        делятся друг с другом своим <b>опытом</b>, <b>силами</b> и <b>надеждами</b> с целью
        помочь себе и другим помочь преодолеть <b>прокрастинацию.</b>
      </p>
      <a
        href="https://t.me/+nSWS3inC4gE2Njg6"
        class="flex items-center gap-2 self-start rounded-full bg-sky-100 px-3 py-2 font-medium text-sky-700 transition-colors ease-linear hover:bg-sky-200"
        ><TGIcon />Присоединиться к нам</a
      >
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Последние новости</h3>
        <Link href="/posts" label="Смотреть все новости" isUnderline target="_self" />
      </header>
      {posts.length === 0 && <p>Пока что ничего нету 👀...</p>}

      <section class="flex flex-col gap-4 md:flex-row md:flex-wrap">
        {
          posts.length !== 0 &&
            posts
              .slice(0, 6)
              .map((post) => (
                <PostCard
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                />
              ))
        }
      </section>
    </article>
  </main>
</Layout>
