---
---

<section class="mx-auto flex max-w-5xl flex-col justify-center gap-[30px]">
	<h1
		class="flex flex-col text-center text-2xl font-black uppercase sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl"
	>
		<span>Анонимные</span>
		<span>прокрастинаторы</span>
	</h1>

	<p class="text-center text-base text-zinc-600 md:text-xl">
		Мы содружество, которые делятся своим <b>опытом</b>, <b>силами</b> и <b>надеждами</b
		> друг с другом для того, чтобы решать наши <b>общие или же схожие проблемы</b>, а
		также с <b>прокрастинацией</b> и помогать решить их другим.
	</p>

	<nav class="flex items-center justify-center">
		<a href="/signs" class="rounded-md bg-indigo-50 px-3 py-2 font-medium text-indigo-700"
			>Признаки прокрастинации (10)</a
		>
	</nav>
</section>
