---
import formatDate from "@/utils/formatDate"

const { data, slug } = Astro.props
---

<a href={`/posts/${slug}`} class="relative h-[190px] rounded-xl bg-zinc-50 p-4">
	<div class="flex h-full flex-col justify-between">
		<p class="line-clamp-2 max-w-[315px] text-lg font-bold">{data.title}</p>
		<svg
			width="18"
			class="absolute right-4 top-4"
			height="18"
			viewBox="0 0 18 18"
			fill="none"
			class="transition-all duration-300 group-hover:translate-x-1"
		>
			<path
				d="M5.25 12.75L12.75 5.25"
				stroke="#999999"
				stroke-linecap="round"
				stroke-linejoin="round"></path>
			<path
				d="M5.25 5.25H12.75V12.75"
				stroke="#999999"
				stroke-linecap="round"
				stroke-linejoin="round"></path>
		</svg>
		<p class="line-clamp-2 text-zinc-600">
			{data.description}
		</p>
		<p class="text-right text-sm">{formatDate(data.pubDate)}</p>
	</div>
</a>
